 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}
.background  {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background-image  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Send the image to the background */
}
.watch-container {
    text-align: center;
    background: rgba(110, 16, 168, 0.711);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(81, 5, 93, 0.663);
    width: 300px;
}
.time {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(183, 235, 79);
}
.date {
    font-size: 24px;
    color: rgb(183, 235, 79);
}
@media (max-width: 400px) {
    .watch-container {
        width: 80%;
        padding: 15px;
    }
    .time {
        font-size: 36px;
    }
    .date {
        font-size: 18px;
    }
}
